
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{%endblock%}</title>
    Link to external CSS file (optional) -->
    <link rel="" href="">
</head>
<body>
    <!-- Your content goes here (headings, paragraphs, images, etc.) -->
    <h1>hey wolf</h1>
		<p>
		{{ filem1, filem2 }}
		</p>
		{% block content %}{%endblock%}
		<!--{% for conts in content %}
						<p>{{conts}}</p>
						{% endfor %}-->


    <!-- Link to external JavaScript file (optional, placed at the end for performance) -->
    <script src="scripts.js"></script>
</body>
</html>-->

